@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; /*import Bulma CSS Framework*/

table {
    margin: 0 auto;
    border-spacing: 0px 0px;
}

.title, .subtitle, .box {    
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    width: 200px;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    height: 90px;
    width: 110px;
    background-color: rgb(0,96,191);
}

.white {
	width: 75px;
	height: 75px;
	border-radius: 50%;
    background-color: white;
}

.yellow {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(255,213,1);
	border: 12px solid rgb(242,203,5);
	padding: 10px;
	box-sizing: border-box;
}

.red {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(255, 50, 1);
	border: 12px solid rgb(220, 50, 0);
	padding: 10px;
	box-sizing: border-box;
}
/* Detailed Chips and board;
.board {
  width: 125px;
  height: 125px;
  background-color: rgb(0,96,191);
}
.chipYellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255,213,1);
	border: 12px solid rgb(242,203,5);
	padding: 10px;
	box-sizing: border-box;
}
.chipRed {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 50, 1);
	border: 12px solid rgb(220, 50, 0);
	padding: 10px;
	box-sizing: border-box;
}
*/